<div class="crouton crouton-<%= message.css %>" data-duration="<%= message.duration %>">
  <button aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
  <span class="message"><%= message.content %></span>
</div>